<%- include('partials/header'); %>
    <h1> About US </h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, sint minima suscipit fugit obcaecati recusandae
        quia mollitia magni nisi, distinctio exercitationem consectetur neque totam blanditiis quod in non nobis rem?
    </p>
    <p>Sed molestie ex auctor erat placerat rhoncus. Praesent viverra nisi id congue vehicula. Curabitur vel sapien
        blandit, pellentesque lectus et, maximus urna. Ut euismod dignissim purus eu posuere. Curabitur rutrum a nibh
        vitae efficitur. Donec a turpis enim. Pellentesque imperdiet eu mauris ut imperdiet. Maecenas sit amet auctor
        felis. Curabitur aliquet est vitae eros dignissim, at placerat mauris condimentum. Ut finibus, diam in tincidunt
        porttitor, ante dui eleifend lorem, vel consequat sem justo ut turpis. Praesent fringilla elit ipsum, id tempus
        orci facilisis sed. Vestibulum semper sed ipsum in bibendum. Vestibulum quis felis elementum, bibendum ligula
        non, sagittis nunc. Donec sollicitudin id tellus id hendrerit. Nullam porttitor augue vel rutrum cursus. Nam
        quam urna, posuere sed lacinia sit amet, congue sed risus.
    </p>
    <h3>Why Blog's</h3>
    <p>Promoting your services and goods is not easy, especially in a highly competitive business climate. That's when
        the blog comes in handy. It helps you with the multimedia representation of your company, keeps the audience
        interested, and promotes your company. Think about promoting your videos, podcasts, interviews, and more on your
        blog. Content like this is beneficial for your audience and great content for your website. The most critical
        part is the overall quality of your posts.</p>
    <form method="get" action="/">
        <button type="submit" class="btn btn-primary">Goto Home</button>
    </form>

    <%- include('partials/footer'); %>