<%- include('partials/header'); %>
    <div class="User">
        <h1>WELCOME</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, quis repellendus corrupti molestias
            pariatur tenetur facilis accusantium. Eaque odio itaque cum cumque, assumenda sed dicta, commodi doloremque
            totam autem nostrum.</p>
        <p>Sed molestie ex auctor erat placerat rhoncus. Praesent viverra nisi id congue vehicula. Curabitur vel sapien
            blandit, pellentesque lectus et, maximus urna. Ut euismod dignissim purus eu posuere. Curabitur rutrum a
            nibh vitae efficitur. Donec a turpis enim. Pellentesque imperdiet eu mauris ut imperdiet. Maecenas sit amet
            auctor felis. Curabitur aliquet est vitae eros dignissim, at placerat mauris condimentum.</p>
        <div class="logbut">
            <form method="get" action="/signup">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
            <form method="get" action="/Login">
                <button type="submit" class="btnlog">Log In</button>
            </form>
        </div>
    </div>

    <%- include('partials/footer'); %>