<%- include('partials/header'); %>
    <div class="login">
        <h1>Log In Form</h1>
        <form action="" method="POST">
            <div class="mb-3">
                <label>Email Id</label>
                <input type="email" class="form-control" value="" name="usermail" required />
              </div> 
              <div class="mb-3">
                <label>Password</label>
                <input type="password" class="form-control"  value="" name="userpas" required />
              </div> 
              <div class="logbutton">
                <button type="submit" class="btn btn-primary" value="login">Log-In</button>
              </div>
        </form>
    </div>
<%- include('partials/footer'); %>